.advantage {
  padding-top: 60px;
  padding-bottom: 30px;
  @media screen and (min-width: 768px) {
      padding-bottom: 60px;
    }
  @media screen and (min-width: 1200px){
      padding-top: 94px;
  padding-bottom: 94px;
  text-align: start;
  }

}

.advantage__list {
  // display: flex;
  // margin-left: -30px;
  @media screen and (min-width: 768px){
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(2,minmax(0, 1fr));
  }
  @media screen and (min-width: 1200px) {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
// .advantage__item {
//   // margin-bottom: 30px;
//   // width: 100%;
//   // flex-basis: calc(100% / 4 -30px);
//   // margin-left: 15px;
//   @media screen and (min-width: 768px) {
//     width: calc(100% / 2 -30px);
//     margin-left: 30px;
//     }

// }

.advantage-icon-section {
  display: flex;
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.advantage__title {
  text-align: center;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
    @media screen and (min-width: 768px) {
      text-align: start;
    }
}
.advantage__text {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey-color);
@media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}
