.hero {
  padding-top: 118px;
  padding-bottom: 118px;

  background-color: var(--background-grey);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../images/header_img_tel.jpg);
  

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx)
      {
        background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
         rgba(47, 48, 58, 0.4)),
         url(../images/header_img_tel_2x.jpg);
      }
  


  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;



  @media screen and (min-width: 768px){
background-image: linear-gradient(rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../images/header_img_tab.jpg);


    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
          url(../images/header_img_tab_2x.jpg);
      }
  }
@media screen and (min-width: 1200px) {
    padding-top: 200px;
      padding-bottom: 200px;
      background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
          url(../images/img_header.jpg);


          @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
              background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                  rgba(47, 48, 58, 0.4)),
                url(../images/header_img_desk_2x.jpg);
            }
  }
}

.hero__title {
  margin-bottom: 30px;

  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  letter-spacing: 0.06em;

  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  @media screen and (min-width: 1200px) {
  margin-bottom: 40px;
    font-size: 44px;
      line-height: 1.36;
  }
}
