.hero__order {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87px;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  display: flex;
  margin: auto;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--blu-color);
  border: var(--blu-color);
}
