:root {
  --blaсk-color: #212121;
  --blu-color: #2196f3;
  --grey-color: #757575;
  --white-color: #ffffff;
  --background-grey: #2f303a;
  --background-filter: #f5f4fa;
  --icon-color: #afb1b8;

  --margin-filter: 30px;
}
@mixin font ($fz, $fw, $lh, $ls){
  font-size: $fz;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}